html{
  box-sizing: border-box;
  font-size: 20px;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-family: arial, helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(yellow, orange, red);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, p{
  text-align: center;
}

a{
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:visited{
  color: black;
}

a:hover{
  color: rgb(253, 122, 166);
}

a.top{
  color: blue;
}

.toggleNav{
  display: none;
}

.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

input{
  padding: 1%;
  margin: 1%;
  border: 0;
  width: 30%;
}

.questions{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup{
  text-align: center;
}

.facts{
  display: flex;
}

#fact-img{
  height: 13rem;
  width: 16rem;
  border-radius: 5%;
}

.fact-text{
  font-size: 1em;
  text-align: left;
}

footer{
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: white;
  font-weight: 100;
}

.calendar {
  position: relative; 	
  padding-bottom: 75%; 	
  overflow: hidden;	
}	

 .calendar iframe {	
  position: absolute; 	 
  top:0;
  left: 0; 	
  width: 100%; 	  
  height: 100%;
  padding: 2%;
}


ul.flex-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

@media all and (max-width:1000px){
  
  ul.flex-nav {
    flex-direction: column;
  }

  li.flex-nav {
    flex: 1 1 50%;
  }

  .toggleNav{
    display: block;
  }

  ul.flex-nav {
    display: none;
  }

  ul.flex-nav.open{
      display: flex;
    }

}

@media all and (max-width:500px) {

  li.flex-nav {
    flex-basis: 100%;
  }

  .wrapper{
    display: flex;
    flex-direction: column;
  }

  .wrapper > *{
    order:999;
  }

  .navbar{
    order:1;
  }

  .toggleNav{
    display: block;
  }

  ul.flex-nav{
    display: none;
  }

    ul.flex-nav .open{
      display: flex;
    }

  .facts{
    flex-direction: column;
    align-items: center;
  }
}
